{% extends 'back/index.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row align-items-center mb-4">
            <div class="col-md-2 text-center">
                <img src="{{ asset('images/2.png') }}" alt="Logo" class="img-fluid" style="max-width: 100px; height: auto;">
            </div>
            <div class="col-md-10">
                <h1 class="text">Inscription</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                {{ form_start(registrationForm, {'attr': {'class': 'registration-form'}}) }}

                <div class="form-group">
                    {{ form_label(registrationForm.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.nom) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.prenom, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.prenom) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.dateDeNaissance, 'Date de naissance', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.dateDeNaissance, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.dateDeNaissance) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.email) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword.first, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.first) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword.second, 'Confirmer le mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.second) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.numtelephone, 'Numéro de téléphone', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.numtelephone, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.numtelephone) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.adresse, 'Adresse', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.adresse, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.adresse) }}
                </div>

                <button type="submit" class="btn btn-primary">S'inscrire</button>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
